<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-menu.css">
    <link rel="stylesheet" href="/css/submenu.css">
    <link rel="stylesheet" href="/css/orders.css">
    <title>Comandas</title>
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="dropdown">
                <a class="cadastros-btn">Cadastros</a>
                <div class="dropdown-content">
                    <a href="/clients">Clientes</a>
                    <a href="/products">Produtos</a>
                </div>
            </div>
            <a href="/orders">Comandas</a>
            <a href="#">Relatórios</a>
            <a href="/settings">Configurações</a>
        </div>
    </header> 

    <div class="submenu">
        <a href="#">+</a>
    </div>

    <div class="content-container">
        <form action="orders" method="POST">
            <fieldset class="new-order hide">
                <legend>Novo pedido</legend>
                <label for="clientName">Cliente:</label>
                <select id="client" name="clientName">
                    <option disabled="" selected>Selecione um cliente</option>
                    {{#clients}}
                    <option value="{{id}}">{{name}}</option>
                    {{/clients}}
                </select></br>
                <label for="product">Produto:</label>

                <table id="products"  class="products">
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                    </tr>
                    {{#products}}
                    <tr>
                        <td class="productId hide">{{id}}</td>
                        <td class="productName">{{name}}</td>
                        <td class="productPrice">{{price}}</td>
                        <td class="buttons">
                            <button type="button" class="add-button">Add</button>
                        </td>
                    </tr>
                    {{/products}}
                </table>

                <label>Itens do pedido:</label>
                <table id="order-products">
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                    </tr>
                    <!--
                    <tr class="productInOrder">
                        <td class="productNameInOrder">Zombie Burguer</td>
                        <td class="productPriceInOrder">15</td>
                        <td class="productQtyInOrder"><input type="number" value="1"></td>
                    </tr>
                    -->
                </table>
                <button type="submit">Salvar</button>
            </fieldset>
        </form>
    </div>

    {{#orders}}
    <div class="grid">
        <div class="card">
            <div class="name">
                <span>{{client.name}}</span> <!-- Colocar a ID -->
            </div>

            <div class="card-content hide">
                <div class="list-products">
                    <h3>Produtos:</h3>
                    <ul>
                        <li>{{order_products.id}}</li>
                    </ul>
                </div> 

                <div class="total">
                    <h3>Total:</h3>
                    <span>{{total_value}}</span>
                </div>

                <div class="card-buttons">
                    <button>Finalizar</button>
                </div>
            </div>
        </div>
    </div>
    {{/orders}}


    <script src="/scripts/orders.js"></script>

</body>
</html>